/lab5/WebServices/nbproject/private/
/lab5/WebServices/build/
/lab5/WebServicesStub/nbproject/private/
/lab5/WebServicesStub/build/
/lab6/zad1/WebServices/nbproject/private/
/lab6/zad1/WebServicesStub/nbproject/private/
/lab6/zad1/WebServices/build/
/lab7/Zadanie1/target/
